
.wrapper-container{
 padding:80px; 

}
.md-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.login-submit {
  width: 100%;
  padding: 5px 0;
  background-color: rgba(46,46,46,0.93);
  text-transform: uppercase;
}
