<md-sidenav-container class="docs-component-viewer-sidenav-container mat-sidenav-container mat-sidenav-transition mat-sidenav-opened">
  <div class="mat-sidenav-backdrop mat-sidenav-shown"></div>
  <div tabindex="-1" class="cdk-visually-hidden cdk-focus-trap-anchor"></div>
  <md-sidenav  class="docs-component-viewer-sidenav mat-sidenav mat-sidenav-side mat-sidenav-opened mat-sidenav-closed" tabindex="-1">
    <nav>
      sdasdasda
    </nav>
  </md-sidenav>
</md-sidenav-container>
<!--<app-footer></app-footer>-->