<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="collapse navbar-collapse" id="topNav">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/account/login">
                                <h4><i class="fa fa-sign-in"></i></h4>
                            </a>
                        </li>
                   
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>