<div class="notification-container ng-cloak" *ngIf="showNotComponent">
    <!--<div ng-repeat="note in notification.list" class="notification {{note.type}}">-->
    <div class="notification">
        <div class="notification-close">
            <!--<a href="" ng-click="notification.pop($index)"><i class="fa fa-times"></i></a> -->
            <a href=""><i class="fa fa-times"></i></a>
        </div>
        <div class="notification-progress"></div>
        <div class="notification-content"></div>
    </div>
</div>